<div class="album py-5 bg-light">
    <div class="container">
        <div class="row mb-10">
            <div class="col-md-4">
                <p>
                {{#if edit }}
                {{else}}
                <button class="btn btn-primary" onclick="editFile(this)">Edit</button>
                {{/if}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <p class="card-text"> File Name:<b>{{ resource_name }}</b></p>
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text" id="fileContent" {{#if edit }} contenteditable="true" {{/if}}> 
                    {{ content }}
                  </p>
                </div>
              </div>
              
              <button data-action="saveButton" {{#if edit }} style="display:block"  {{else}} style="display:none" {{/if}} class="btn btn-sm btn-primary" onclick="saveFile(this)" id="{{this.resource_id}}">Save</button>
             
            </div> 
             
          </div>
        </div>
      </div>